*{
    font-family: 'Open Sans', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

.navbar-dark.navbar-dark.bg-dark{
    background-color: #000000 !important;
}

h1, h3, h4, p{
    color: white;
    text-transform: uppercase;
}

.titulo-principal, .titulo-seccion{
    font-weight: bold;
}

.titulo-footer{
    font-size: 1rem;
    font-weight: bold;

}

.social{
    list-style: none;
    color: white;
    list-style-position: inside;
}

.social li{
    display: inline;
    margin-left: 10px;
    
}

.social li a{
    text-decoration-line: none;
    
    color: #ffffff
}

.social li a:hover{
    color: #ffffff;
}

h2{
    color: #000000;
    text-transform: uppercase;
}

.hr-medio{
    width: 100px; 
    border:2px solid #000000; 
}

.hr-arriba, .hr-abajo {
    width: 100px; 
    border:2px solid white;
}